@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
  .play {
    animation-play-state: running;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1 {
  font-family: var(--font-poppins);
  font-size: 2rem;
  font: bold;
}

h2 {
  font-family: var(--font-source-code-pro);
  font-size: 1.8rem;
  font: bold;
}

h3 {
  font-family: var(--font-poppins);
  font-size: 1.6rem;
  font: bold;
}

h4 {
  font-family: var(--font-source-code-pro);
  font-size: 1rem;
  color: var(--color-green-600);
}

caption {
  font-family: var(--font-poppins);
  font-size: 1rem;
  font: bold;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}
